body{
    background-image: url("public/images/background.jpg");
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
#root{
    width:50%;
    height: 55%
}
.container{
    border : 3px solid white;
    border-radius: 10px;
    background-color: #282D35;
    overflow: hidden;
    background-image: url("public/images/react-logo-half.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100px;
}

nav{
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 70px;;
}
img{
    width: 30px;
    margin-left: 20px;
}
nav span{
    color: rgb(97, 219, 251);
    margin-left: 5px;
}
main{
    padding: 25px 60px 60px 0;;
    color: white;
}

main h1{
    margin-left: 20px;
}

li{
    list-style-type: none;
    font-size: 0.9rem;
}

li::before{
    content: "\2022  ";
    color: rgb(97, 219, 251);
    font-weight: bold;
    font-size: 25px;
}

@media (max-width: 500px) {
    #root{
        width: 90%;
    }
}

@media (min-width: 501px) and  (max-width: 700px) {
    #root{
        width: 80%;
    }
}

@media (min-width: 701px) and  (max-width: 1000px) {
    #root{
        width: 65%;
    }
}

@media (min-width: 1001px) and  (max-width: 1500px) {
    #root{
        width: 50%;
    }
}

@media (min-width: 1501px) and  (max-width: 2000px) {
    #root{
        width: 45%;
    }
}

@media (min-width: 2001px) {
    #root{
        width: 30%;
    }
}